In [148]:
import pandas as pd
import numpy as np
from os import getcwd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from ast import literal_eval

In [149]:
CURR_PATH = getcwd()
# The above command will give us the current working directory.
PATH_DATA = CURR_PATH + "/data/"

accounts_data = pd.read_csv(PATH_DATA + "instagram_accounts.csv",converters={'id_followers': literal_eval, 'department': literal_eval})
posts_data = pd.read_csv(PATH_DATA + "instagram_posts.csv")

In [150]:
print(accounts_data.head())

   Unnamed: 0  id_user  nb_followers  nb_following  nb_posts     sex  \
0           0   288877           167            58        48  female
1           1   140311            67            72         8  female
2           2   182096           142            95        14  female
3           3   208875           249            99       150    male
4           4   960092            96           114        19  female

                                        id_followers  \
0  [738818, 134147, 314454, 977416, 926730, 82740...
1  [380289, 341188, 775558, 998151, 246792, 17869...
2  [524806, 968200, 241324, 233490, 188948, 15054...
3  [776192, 164353, 989698, 134147, 305670, 65792...
4  [858624, 896013, 138779, 817185, 854563, 88580...

                   department                   email  \
0  (64, Pyrénées-Atlantiques)  zacharieweber@live.com
1                (03, Allier)   hugues65@fontaine.com
2                  (27, Eure)       gilles11@live.com
3         (22, Côtes-d'Armor)    manoncolin@gmail.com
4          (74, Haute-Savoie)  valerie79@guichard.com

                                          user_agent birth_date
0  Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_10_...   06/22/82
1  Opera/9.55.(X11; Linux i686; wo-SN) Presto/2.9...   01/06/96
2  Mozilla/5.0 (Windows; U; Windows NT 4.0) Apple...   07/22/61
3  Mozilla/5.0 (Windows NT 4.0; nds-NL; rv:1.9.1....   03/14/75
4  Mozilla/5.0 (Android 3.2.1; Mobile; rv:12.0) G...   07/26/67

In [151]:
# Sex Data
accounts_data['sex'].value_counts()

female    1551
male      1496
Name: sex, dtype: int64

In [152]:
dt = accounts_data['department'].value_counts().sort_values(ascending=False).to_frame()
dt.reset_index(level=0, inplace=True)
dt.rename({'department':'count', 'index':'department'}, axis='columns', inplace=True)

                        department  count
0                      (55, Meuse)     44
1                (972, Martinique)     42
2                     (85, Vendée)     40
3                       (27, Eure)     39
4              (31, Haute-Garonne)     39
..                             ...    ...
96                      (39, Jura)     21
97              (2A, Corse-du-Sud)     21
98                     (36, Indre)     20
99                     (02, Aisne)     19
100  (04, Alpes-de-Haute-Provence)     18

[101 rows x 2 columns]
55

In [153]:
accounts_data['nb_posts'].value_counts().sort_values(ascending=False)

13     36
5      36
26     35
9      34
30     31
       ..
295     1
196     1
182     1
311     1
300     1
Name: nb_posts, Length: 248, dtype: int64